<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Jy714.computerStore.mapper.CartMapper">

    <insert id="insert" parameterType="com.Jy714.computerStore.entity.Cart">
        INSERT INTO t_cart(uid,pid,price,num,created_user,created_time,modified_user,modified_time)
        VALUES(#{uid},#{pid},#{price},#{num},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
    </insert>

    <update id="updateNumberByCid">
        UPDATE t_cart
        <set>
            <if test="num != null">
                num = num + #{num},
            </if>
            <if test="modifiedUser != null">
                modified_user = #{modifiedUser},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
        </set>
            WHERE cid = #{cid}

    </update>

    <delete id="deleteByCids">
        DELETE FROM t_cart WHERE cid in
        <foreach collection="cids" item="cid" open="(" close=")" separator=",">
            #{cid}
        </foreach>
        AND uid = #{uid}
    </delete>

    <select id="findByUidAndPid" resultType="com.Jy714.computerStore.entity.Cart">
        SELECT * FROM t_cart WHERE uid = #{uid} and pid = #{pid}
    </select>

    <select id="findVOByUid" resultType="com.Jy714.computerStore.entity.VO.CartVO">
        SELECT
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.image,
            t_product.price AS realprice
        FROM
            t_cart left join t_product ON t_cart.pid = t_product.id
        WHERE
            uid=#{uid}
        ORDER BY
            t_cart.created_time DESC
    </select>

    <select id="findByCid" resultType="com.Jy714.computerStore.entity.Cart" parameterType="java.lang.Integer">
        SELECT * FROM t_cart WHERE cid = #{cid}
    </select>

    <select id="findVOByCid" resultType="com.Jy714.computerStore.entity.VO.CartVO">
        SELECT
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.image,
            t_product.price AS realprice
        FROM
            t_cart left join t_product ON t_cart.pid = t_product.id
        WHERE
            cid IN
        <foreach collection="cids" item="cid" open="(" close=")" separator=",">
            #{cid}
        </foreach>
        ORDER BY
            t_cart.created_time DESC
    </select>


</mapper>